language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
script: './mvnw.cmd clean package'

notifications:
  email:
    recipients:
      - 'hbh5274@gmail.com'
