language: java
jdk:
  - openjdk8

branches:
  only:
    - master
    
before_install: 
  - chmod +x mvnw

before_install:
  - chmod +x mvnw

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
script: './mvnw clean package'

before_deploy:
  - zip -r freelec-springboot2-webservice *
  - mkdir -p deploy
  - mv freelec-springboot2-webservice.zip deploy

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: bhhan-springboot-build
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true

notifications:
  email:
    recipients:
      - 'hbh5274@gmail.com'
